body {
    background-image: url(images/transit_pixels.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-width: 2px;
    color: #ffc7f5;
  }

  #menu{
    display: none;
}
  
  .page {
    width: 1000px;
    background-color: none;
    margin: auto;
    margin-top: 5%;
    z-index: -1;
    
  }

  #pp{
    margin: 10px;
  }

  #ap{
    margin: 10px;
  }

  #ip{
    max-width: 500px;
    margin: 10px;
  }
  
  #bar{
    background-color: #000052;
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
  
  .nav{
    display: block;
    border-radius: 5px;
    margin: 5px;
    background-color: #8833d6;
    color: #ffc7f5;
    width: 75px;
    height: 15%;
    font-family: 'Anton';
    font-size: 125%;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    transition: all .2s ease-in-out;
    float: left;
  }

  #play{
    float: none;
    font-size: 75%;
    width: 10%;
    height: auto;
    position: relative;
    left: 43%;
  }

  .left-sideBar{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #292F33;
    max-width: 300px;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
    }
    
  
  a:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px black;
  }

  #intext{
    color: rgb(0, 252, 252);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin: -2px;
  }

  #intext:hover{
    background-color: #8833d6;
    transform: none;
    box-shadow: none;
  }
  
  .box {
    background-color: #c2cacf;
    max-width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
  }
  
  #Welcome{
    font-size: 100px;
  }

  #WelcomeBox{
    margin: auto;
    margin-top: 5%;
  }
  
  .overlay{
    font-family: 'Anton';
    font-size: 60px;
    background-color: #8833d6;
    margin: 20px;
    padding: 15px;
    border-radius: 15px;
    }
  
  .small-box{
    background-color: #9b55dd;
    font-size: 30px;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    }
  
  .subtitle{
    font-family: 'Anton';
    font-size: 20px;
    margin: 10px;
    }
  
  p{
    font-family:  'Roboto Mono', monospace;
    font-size: 15px;
    margin: 10px;
    }
  
  #project{
     max-width: 100%; height: auto; 
    }
  
  #pageTitle{
      font-size: 30px;
    }
  
  #myInfo{
    font-size: 15px;
    }
  .twitter-follow-button{
    float: left;
    margin: 5px;
    }
  .twitter-mention-button{
    float: left;
    margin: 5px;
    }
    
  #youtube{
      float: right;
      max-width: 250;
      margin: 5px;
    }
    
  #vids{
      border-radius: 15px;
      margin: auto;
    }
  @media screen and (max-width: 420px) {
    #menu{
      display: inline;
      position: absolute;
      top: -450px;
      left: 0px;
      height: 500px;
      width: 100%;
      z-index: 9;
      background-color: #f1f1f1;
      text-align: center;
      border: 1px solid #d3d3d3;
  }
  #bar{
    height: 5%;
    display: none;
  }
  
  .nav{
    border-radius: 5px;
    display: block;
    background-color: #8833d6;
    color: #ffc7f5;
    width: 80%;
    font-family: 'Anton';
    font-size: 40px;
    float: none;
    margin: 8%;
  }
  
  #play{
    float: none;
  }
  
  a {
    margin-top: 200px;
    margin: none;
    }
    
  .left-sideBar{
    margin: auto;
    }
    
    .page{
      max-width: 75%;
      }
    
    #youtube{
      height: auto;
      float: none;
      margin: auto;
      margin-top: 200px;
      }
      
      #vids{
        width:90%;
        height:65%;
        border-radius: 5px;
        float: none;
        }
      
  body {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #0c57f7;
    color: #ffc7f5;
  }
  
  .box {
    background-color: white;
    max-width: 100%;
    text-align: center;
    margin: auto;  
    margin-top: 200px;
    padding: 2px;
    box-shadow: 5px 5px 10px black;
    border-radius: 5px;
  }
    .overlay{
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    max-width: 100%;
    border-radius: 5px;
  
    }
    #Welcome{
    font-size: 50px;
  }
  }
  